<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin - NJC GP News Feed</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

{{template "header"}}

<body>
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <a href="/admin"><i class="material-icons left">arrow_back</i>Back to admin dashboard</a>
    </div>
    <div class="row"></div>
    <form action="/editArticle" method="POST">
      <input type="hidden" id="hidden" name="hidden" value="{{.Index}}" />
      <div class="row" />
      <div class="row">
        <div class="input-field col s6">
          <input id="url" type="url" name="url" value="{{.URL}}" class="validate" />
          <label for="url">URL</label>
        </div>
        <div class="input-field col s6">
          <input id="date" type="text" name="date" value="{{.DisplayDate}}" class="datepicker" />
          <label for="date">Date published</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Article title" id="title" type="text" name="title" value="{{.Title}}" class="validate" />
          <label for="">Article title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="tags" type="text" name="tags"
            value="{{range $topic := .Topics}}{{$topic}}; {{end}}{{range $question := .Questions}}{{$question.Year}} Q{{$question.Number}}; {{end}}"
            class="validate" />
          <label for="tags">Tags</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light red darken-1" type="submit" id="btn"> Update article<i class="material-icons right">edit</i> </button>
    </form>
  </div>

  <script>
    var today = new Date();
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".datepicker");
      var instances = M.Datepicker.init(elems, {
        format: "mmm d, yyyy",
        setDefaultDate: false,
        defaultDate: today,
      });
    });
  </script>

  <script>
    url = document.getElementById("url");
    title = document.getElementById("title");

    url.addEventListener("input", function () {
      console.log(url.value);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/getTitle", true);
      xhr.addEventListener("readystatechange", function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          var r = xhr.responseText;
          console.log(r);
          title.setAttribute("value", r);
        }
      });
      xhr.send(url.value);
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
</body>

</html>
