<!DOCTYPE html>
<html lang="en">

<head>
  <title>NJC GP News Feed</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="icon" href="/assets/favicon.ico" />
</head>
<a id="top"></a>

{{template "header"}}

<body>
  <div class="container">

    <div class="section">
      <div>
          {{$qotw := .Qotw}}
        <h3>Poll #{{$qotw.Qn.ID}}</h3>
        <h4>Featured article:</h4>
        <div>
          <h4>{{$qotw.Article.Title}}</h4>
          <span>
            <p style="font-size: medium;">
              {{range $topic := $qotw.Article.Topics}}
              <a href="/search?term={{$topic}}" style="margin-right: 3px;"><em>#{{$topic}}</em></a>
              {{end}}
            </p>
          </span>
          <span>
            <a href="{{$qotw.Article.URL}}" target="_blank" rel="noopener noreferrer"
              class="btn-small btn-flat waves-effect waves-light red darken-1 white-text"><i
                class="material-icons left">article</i>Go to article</a>
          </span>
        </div>
        <h5>{{$qotw.Qn.Question}}</h5>
        <div id="poll">
          <form>
            <p>
              <label class="grey-text darken-4" for="agree"><input name="options" id="agree" type="radio"><span
                  class="black-text">Yes</span></label>
            </p>
            <p>
              <label class="grey-text darken-4" for="disagree"><input name="options" id="disagree" type="radio"><span
                  class="black-text">No</span></label>
            </p>
          </form>
        </div>
      </div>
    </div>

    <div id="hide" hidden>
      <canvas id="qotw" style="height: 80px;"> </canvas>
    </div>

    <br>

    <div><a href="/polls">View past polls</a></div>

    <br>

    <div class="divider"></div>

    <div class="section">
      <div class="row">
        <h3>Latest articles</h3>
      </div>

      {{template "cards" .Latest}}
      <div class="fixed-action-btn hide-on-med-and-down"><a class="btn-floating btn-large red darken-1" href="#top"><i
            class="material-icons">expand_less</i></a></div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    let hashedPollID = '{{$qotw.Qn.PollID}}';
    if (localStorage.getItem('pollID') === hashedPollID) {
      console.log('pollID matched.')
      if (localStorage.getItem('selection') === 'agree') {
        document.getElementById('agree').checked = true;
      } else {
        document.getElementById('disagree').checked = true;
      }
      updatePoll('nil');
    }


    const agree = document.getElementById('agree');
    agree.addEventListener('click', () => {
      updatePoll('agree');
    }, {once: true});

    const disagree = document.getElementById('disagree');
    disagree.addEventListener('click', () => {
      updatePoll('disagree');
    }, {once: true});

    function updatePoll(selection) {
      document.getElementById('agree').setAttribute('disabled', 'disabled');
      document.getElementById('disagree').setAttribute('disabled', 'disabled');

      const myHeaders = new Headers();
      myHeaders.append('Content-Type', 'application/json');

      const payload = {
        input: selection,
      }

      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: JSON.stringify(payload),
      }

      fetch("/poll", requestOptions)
        .then(response => response.json())
        .then(responseData => {
          const labels = [
            'Yes',
            'No',
          ];

          const data = {
            labels: labels,
            datasets: [{
              backgroundColor: '#e53935',
              borderColor: '#e53935',
              data: [responseData.Agree, responseData.Disagree],
              barPercentage: 0.8,
            }]
          };

          const config = {
            type: 'bar',
            data: data,
            options: {
              indexAxis: 'y',
              elements: {
                bar: {
                  borderWidth: 0,
                }
              },
              plugins: {
                title: {
                  display: false,
                },
                legend: {
                  display: false,
                },
              }
            },
          };

          const myChart = new Chart(
            document.getElementById('qotw'),
            config
          );

          console.log('selection is ', selection);
          document.getElementById('hide').removeAttribute('hidden');
          localStorage.setItem('pollID', responseData.PollID);
          if (selection !== 'nil') {
            localStorage.setItem('selection', selection);
          }
        })
    }

  </script>

</body>

<div class="divider"></div>

{{template "footer"}}

</html>
