<!DOCTYPE html>
<html lang="en">

<head>
  <title>NJC GP News Feed</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="icon" href="/assets/favicon.ico" />
</head>
<a id="top"></a>

{{template "header"}}

<body>
  <div class="container">
    <div class="section">
      <div>
        <h3>Featured article:</h3>
        <div>
          {{$qotw := index . 0}}
          <span>
            <p style="font-size: medium;"><i>Published on {{$qotw.DisplayDate}}</i></p>
          </span>
          <h5>{{$qotw.Title}}</h5>
          <span>
            <p style="font-size: medium;">
              {{range $topic := $qotw.Topics}}
              <a href="/search?term={{$topic}}" style="margin-right: 3px;"><em>#{{$topic}}</em></a>
              {{end}}
            </p>
          </span>
          <span>
            <a href="{{$qotw.URL}}" target="_blank" rel="noopener noreferrer"
              class="btn-small btn-flat waves-effect waves-light red darken-1 white-text"><i
                class="material-icons left">article</i>Go to article</a>
          </span>
        </div>
        <h3>Question of the Week</h3>
        <h5>This is the question.</h5>
        <div id="poll">
          <form>
            <p>
              <label for="option1"><input name="options" id="option1" type="radio"><span>Agree</span></label>
            </p>
            <p>
              <label for="option2"><input name="options" id="option2" type="radio"><span>Disagree</span></label>
            </p>
          </form>
        </div>
      </div>
    </div>

    <div id="hide" hidden>
      <canvas id="qotw"> </canvas>
    </div>

    <div class="divider"></div>

    <div class="section">
      <div class="row">
        <h3>Latest articles</h3>
      </div>

      {{template "cards" .}}
      <div class="fixed-action-btn hide-on-med-and-down"><a class="btn-floating btn-large red darken-1" href="#top"><i
            class="material-icons">expand_less</i></a></div>
    </div>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0-alpha/dist/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const submit = document.getElementById('poll');
    submit.addEventListener('click', () => {
      document.getElementById('hide').removeAttribute('hidden');
    })
  </script>

  <script>
    const labels = [
      'Agree',
      'Disagree',
    ];

    const data = {
      labels: labels,
      datasets: [{
        backgroundColor: '#e53935',
        borderColor: '#e53935',
        data: [50, 10],
      }]
    };

    const config = {
      type: 'bar',
      data: data,
      options: {
        indexAxis: 'y',
        elements: {
          bar: {
            borderWidth: 2,
          }
        },
        plugins: {
          title: {
            display: false,
          },
          legend: {
            display: false,
          },
        }
      },
    };

    const myChart = new Chart(
      document.getElementById('qotw'),
      config
    );
  </script>


</body>

<div class="divider"></div>

{{template "footer"}}

</html>
